.experience-section {
    background: rgb(37,39,77);
    background: linear-gradient(180deg, rgba(37,39,77,1) 7%, rgba(37,39,77,1) 19%, rgba(0,212,255,1) 100%);
}
.experience-title {
    color: #fff;
    font-family: 'Patua One', cursive;
}
